body{
  display:  flex;
  justify-content: center;
  padding: 20px;
}
main {
  border: 1px solid lightgray;
   border-radius: 25px;
   padding: 10px;
    width: 1200px;
}
.header{
  display:  flex;
  justify-content: space-between;
}
.header button{
  margin:0 5px 0 5px;
}